<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add
      name="Adventureworks"
      connectionString="Server=tcp:wmazuresqldb.database.windows.net,1433;Database=mursql1;User ID=mursqlsrv1@wmazuresqldb;Password=Murtest1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>
  
    <system.web>
     
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>
    </system.web>
 
</configuration>
